<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <nelo>
                <active>1</active>
                <model>NeloFacade</model>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <publishable_api_key/>
                <sandbox_flag>1</sandbox_flag>
                <order_status>pending_payment</order_status>
                <title>Nelo</title>
                <allowspecific>0</allowspecific>
                <merchant_name>Nelo Partner</merchant_name>
                <payment_action>authorize_capture</payment_action>
                <payment_url>https://api.nelo.co/v1</payment_url>
                <sandbox_payment_url>https://sandbox.nelo.co/v1</sandbox_payment_url>
                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_refund>0</can_refund>
                <debug>1</debug>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <debugReplaceKeys>apiKey</debugReplaceKeys>
            </nelo>
        </payment>
    </default>
</config>
