<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="bnpl_config_provider" xsi:type="object">Nelo\Bnpl\Model\NeloConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Nelo\Bnpl\Controller\Payment\Start">
        <arguments>
            <argument name="commandPool" xsi:type="object">NeloCommandPool</argument>
        </arguments>
    </type>
    <type name="Nelo\Bnpl\Controller\Payment\Confirm">
        <arguments>
            <argument name="commandPool" xsi:type="object">NeloCommandPool</argument>
            <argument name="method" xsi:type="object">NeloFacade</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="bnpl" xsi:type="string">/nelo/payment/</item>
            </argument>
        </arguments>
    </type>
</config>
