<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span class="nelo-as-low-as" data-currency-code="MXN" data-bind="attr: {'data-amount': getPriceUpdated()}"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <div class="nelo-education-card" data-collapsed="false" data-bind="attr: {'data-load': _loadScripts()}"></div>
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Continue to Nelo')},
                        enable: (getCode() == isChecked()),
                        click: continueToNelo,
                        css: {disabled: !isPlaceOrderActionAllowed()}"
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Continue to Nelo'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
